*{
margin: 0;
padding: 0;
box-sizing: border-box;
}

.firstbody{
    border: 2px solid red;
    width: 100%;
    height: 800px;
    display: flex;

}

#logo{

    border: 2px solid blue;
    width: 40%;
    height: 900px;
    
}
#middle{

    border: 2px solid violet;
    width: 20%;
    height: 800px;
    background-color: #fcc133;
    align-items: center;
    text-align: center;
    padding-top: 270px;
    font-size: 60px;
    font-weight: 900;
}


#home{
    border: 2px solid blue;
    width: 40%;
    height: 800px;
    background: url("https://images03.nicepage.com/a1389d7bc73adea1e1c1fb7e/b997f5453a025796b7e011f6/pexelsphoto3659862.jpeg");
    background-size: cover;

}
#home p{
    color: white;
    text-align: right;
    padding-top: 20px;
    padding-right: 200px;
    font-weight: 900;
}
#home i{
    
    display: none;
}

@media screen and (max-width:700px) {
    .firstbody{
        border: 2px solid red;
        width: 100%;
        height: 1000px;
        display: flex;
        flex-direction: column;
    }
    #logo{

        border: 2px solid blue;
        width: 100%;
        height: 500px;
        
    }
    #home p{
        display: none;
    }
    #home i{

    color: white;
    /* padding-top: 20px; */
    /* padding-right: 200px; */
    font-weight: 900;
    display: block;

    }
}